* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:rgb(91, 129, 255) ;
    background-image: url(./img/pattern.png);
    background-size: 30%;
}
.container{
    width: 95%;
    margin: auto;
}
.logo{
    margin-top: 40px;
    height: 60px;
}
h1{
    font-size: 50px;
}
.author{
    font-size: 20px;
}
.celeste{
        color:rgb(0, 157, 232) ;
        font-weight: 800;
}
.grey{
    color: rgb(138, 138, 138);
    font-weight: 800;
}
.tableblue{
    background-color: rgb(32, 169, 229);
}
.lightblue{
    background-color: rgb(169, 230, 244);
}
.white{
    color: white;
}
.highlighted{
    background-color: yellow;
}
.footerwrite{
    color: grey;
    font-weight: 800;
}
.footerimg{
    background-image: url(./img/monitor.jpg);
    background-repeat: no-repeat;
    margin-bottom: 1px;
    width: 250px;
    height: 200px;

}
.footerimg2{
    background-image: url(./img/graph.jpg);
    background-repeat: no-repeat;
    width: 250px;
    height: 200px;
}



